<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <ErrorBoundary>
            <ChildContent>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
                <FocusOnNavigate RouteData="@routeData" Selector="h1" />
            </ChildContent>
            <ErrorContent Context="exception">
                <div class="alert alert-danger">
                    <h3>Error</h3>
                    <p>@exception.Message</p>
                    <p>@exception.StackTrace</p>
                </div>
            </ErrorContent>
        </ErrorBoundary>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>